<!-- <main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-hello" style="background-image:linear-gradient(
      rgba(20,20,20, .5), 
      rgba(20,20,20, .5)),url(./assets/img/theme/test.jpg)">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="card bg-secondary shadow border-0">
            
            <div class="card-body px-lg-7 py-lg-7">
              <div class="text-center text-muted mb-4">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src="{{file}}" class="rounded-circle">
                  </a>
                </div>
                <h1 style="color:crimson; font: size 5px"><b>{{fullname}} </b></h1>
              
              </div>
              

             

                <div class="card-body px-lg-7 py-lg-7">
                    <p style="font-size: 17px; font-weight: bold;"> <br>
                    Address         :{{address}}<br>
                    Telephone       :{{telephone}}<br>
                   Email        :{{email}}</p>
                   <button class="btn btn-primary" (click)="goUpdate()">Update</button>

                </div>
               
           
            
            


            </div>
            
            
            
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

 -->

 <main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="{{file}}" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{fullname}}
             
            </h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{address}}</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{telephone}}</div>
            <div><i class="ni education_hat mr-2"></i>{{email}}</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>{{description}}</p>
              </div>
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>Edit Profile</p>
                <button class="btn btn-primary" (click)="goUpdate()">Update</button>
                <button class="btn btn-primary" onclick="document.getElementById('popup').style.display='block'">Delete</button>
              </div>
            </div>
          </div>
          <div id="popup" style="display: none;align-items: center;">
            <div class="text-center text-muted mb-4">
              <h1 style="color: cornflowerblue; font: size 5px"><b>Confirm your account delail</b></h1>
            </div>
            <form [formGroup]="form">
          

              <div class="form-group">
              
                 
                  <input formControlName="email" class="form-control" placeholder="Email" type="email" (focus)="focus1=true" (blur)="focus1=false" [ngClass]="{'is-invalid':submitted && formControls.admin_email .errors}">
                  <div class="invalid-feedback" *ngIf="submitted && formControls.admin_email.errors">Invalid email</div>
                
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                 
                  <input formControlName="password" class="form-control" placeholder="Password" type="password" (focus)="focus2=true" (blur)="focus2=false" [ngClass]="{'is-invalid':submitted && formControls.password .errors}">
                  <div class="invalid-feedback" *ngIf="submitted && formControls.password.errors">
                    This Field is required
                  </div>
                </div>
              </div>
       
              <div class="form-group">
                <button class="btn btn-primary submit w-100" (click)="onDelete()">Confirm</button>
                
              </div>
              
            </form>
          
          </div>
        </div>
      </div>
    </div>
    
  </section>
</main>

